@import 'assets/mixins.scss';
@import 'assets/variables';

.questionCard {
  display: grid;
  grid-template-areas:
    'questionNumber'
    'question'
    'codeExample'
    'buttons'
    'answer';
  grid-template-columns: minmax(250px, 700px);
  grid-template-rows: auto auto auto 40px auto;
  padding: $spacer;
}

.wrapper {
  position: relative;
  max-width: 720px;
}

.questionNumber {
  grid-area: questionNumber;
  height: min-content;
  display: flex;
  flex-direction: row;
  align-items: center;

  &Title {
    width: 100%;
  }

  &Badge {
    color: $white;
    padding: $spacer * 0.3 $spacer * 0.6;
  }
}

.question {
  grid-area: question;
}

.codeExample {
  grid-area: codeExample;
}

.buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.answer {
  grid-area: answer;
  height: auto;

  &InVisible {
    visibility: hidden;
    height: 0;
  }
}

.answerStatusText {
  width: 100%;
  margin-left: $spacer * 0.5;
}

.answerStatusWrapper {
  display: flex;
  cursor: pointer;
}

.iconButton {
  @include iconWithBorder;
}

.editButtons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: $spacer;
}

.chevronIcon {
  height: 100%;
  width: $spacer * 2 !important;
}
