@import 'assets/variables';

.pre {
  text-align: left;

  overflow: auto;

  font-size: $spacer*1.1;
  font-weight: 500;

  margin: 0;

  // min-width: 40vw;
  // overflow: none;
  padding: $spacer*1.25;
  border-radius: $border-radius;
  line-height: $spacer*1.8;
  // letter-spacing: 1px;


  // max-width: 500px;
  // display: block;
  // width: inherit;
  overflow-x: auto !important;
  // & .token-line {
  //   line-height: 1.5em;
  //   height: 1.5em;
  // }
}

.line {
  display: table-row;

}

.noLine {
  display: table-cell;
  text-align: right;
  padding-right: $spacer;
  user-select: none;
  opacity: 0.5;

}

.lineContent {
  font-family: 'Source Code Pro', monospace !important;
  display: table-cell;
}