@import 'assets/screen-sizes';
@import 'assets/variables';
@import 'assets/colors';
@import 'assets/_theme.scss';

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $spacer * 1.25;
  overflow: hidden;
  justify-content: center;
  margin-top: $spacer;
}

.card {
  // background-color: $white;
  border-radius: $border-radius;
  border: $border;
  width: max-content;
  width: 25%;
  padding: $spacer;

  @include themed {
    background-color: t("subtleBackground");
  }

  &Title {
    text-align: center;
  }

  &Bracket {
    color: $danger;
  }

  &Buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: $spacer;
    flex-wrap: wrap;
  }

  &Link {
    border-bottom: $border-width solid $secondary;
    padding: $spacer * 0.5;

    &:hover {
      border-bottom: $border-width solid $danger;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, 'md')) {
  .wrapper {
    justify-content: center;
  }

  .card {
    width: max-content;
  }
}
