@import 'assets/screen-sizes';
@import 'assets/variables';
@import 'assets/colors';

.wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: $spacer * 1.25;
	overflow: hidden;
	justify-content: center;
	margin-top: $spacer;
}

.card {
	border-radius: $border-radius;
	border: $border;
	width: 52%;
	padding: $spacer;

	&Title {
		text-align: center;
	}
}


@media (max-width: map-get($grid-breakpoints, 'md')) {
	.wrapper {
		justify-content: center;
	}

	.card {
		width: 100%;
	}
}