.selectOption {
  padding: 8px 16px;
  margin: 0 !important; 

  list-style-type: none;

  cursor: pointer;

  color: var(--text-color);
  border-bottom: var(--border);

  font-size: 17px;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    color: white;
    background-color: var(--primary-color);
  }
}
