.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.value {
  font-size: 78px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: "Courier New", Courier, monospace;
}

.button {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112 76 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgb(112 76 182 / 10%);
  border-radius: 2px;
  transition: all 0.15s;
}

.textbox {
  font-size: 32px;
  padding: 2px;
  width: 64px;
  text-align: center;
  margin-right: 4px;
}

.button:hover,
.button:focus {
  border: 2px solid rgb(112 76 182 / 40%);
}

.button:active {
  background-color: rgb(112 76 182 / 20%);
}

.asyncButton {
  composes: button;
  position: relative;
}

.asyncButton::after {
  content: "";
  background-color: rgb(112 76 182 / 15%);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: width 1s linear, opacity 0.5s ease 1s;
}

.asyncButton:active::after {
  width: 0%;
  opacity: 1;
  transition: 0s;
}

.box {
  background-color: white;
  padding: 1rem;
  height: 300px;
  box-shadow:
    0 2.8px 2.2px rgb(0 0 0 / 3.4%),
    0 6.7px 5.3px rgb(0 0 0 / 4.8%),
    0 12.5px 10px rgb(0 0 0 / 6%),
    0 22.3px 17.9px rgb(0 0 0 / 7.2%),
    0 41.8px 33.4px rgb(0 0 0 / 8.6%),
    0 100px 80px rgb(0 0 0 / 12%);
}
