
.wrapper {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto 1fr auto;

	row-gap: 1rem;

	min-height: 100vh;
	grid-template-areas:
		"header"
		"body"
		"footer";
}

.header {
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;
}

.body {
	grid-area: body;

  overflow-y: auto;
	outline: none;
	// padding: 1rem;
}

.footer {
	grid-area: footer;
}



@media (max-width: 765px) {
	.wrapper {
		grid-template-columns: minmax(320px, 1fr);
		grid-template-areas:
			"header"
			"body"
			"footer";
	}

	

	.body {
		padding: 0 1rem;
	}
}
