.Pre {
  width: 100%;

  // text-align: left;
  margin: 1em 0;

  overflow: none;
  padding: 1.5rem;
  border-radius: 0.4rem;
  line-height: 1.5em;

  & .token-line {
    line-height: 1.3em;
    height: 1.3em;
  }
}

.line {
  display: table-row;
}

.noLine {
  display: table-cell;
  text-align: right;
  padding-right: 0.71em;
  user-select: none;
  opacity: 0.5;
}

.lineContent {
  display: table-cell;
}
