.container {
  max-width: 98%;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  position: sticky;
  top: 0;
  z-index: var(--z-index-header);
  background-color: var(--white-color);
  width: 100%;

  box-shadow: 0 3.5px 5px rgba(83, 204, 34, 0.14);

  border-bottom: 3px solid var(--primary-color);
}

.headerBody {
  z-index: var(--z-index-header-body);

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--header-height);

  li {
    display: inline;

    margin: 0 0 0 1rem;

    list-style-type: none;
  }
}

.link {
  display: inline;
  // margin-left: 0.25rem;
  padding: 0.5rem 0.75rem;

  font-weight: 600;
  letter-spacing: 1px;
  &:hover {
    background-color: rgb(247, 247, 247);
    border-radius: var(--border-radius);
  }
}

.logo {
  z-index: var(--z-index-header-body);

  align-self: center;

  text-decoration: none;
  // letter-spacing: var(--space-xxxxs);
  letter-spacing: 1.5px;
  text-transform: uppercase;

  color: var(--text-color);

  // font-size: var(--text-lg);
  font-size: 16px;
  font-weight: bold;

  &:hover {
    color: var(--primary-dark-color);
  }
}
@media (max-width: 767px) {
  .logo {
   color: var(--primary-color)
  }
  .headerBody {
    li {
      display: block;

      margin: 0.5rem auto;

      list-style-type: none;
      font-size: 20px;
    }
  }

  .headerBurger {
    position: relative;
    z-index: 3;

    display: block;

    width: 30px;
    height: 20px;

    span {
      position: absolute;
      top: 9px;
      left: 0;

      width: 100%;
      height: 3px;

      transition: all 0.3s ease 0s;

      background-color: var(--text-color);
    }

    &::before,
    &::after {
      position: absolute;
      left: 0;

      width: 100%;
      height: 3px;

      content: "";
      transition: all 0.3s ease 0s;

      background-color: var(--text-color);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  .active {
    span {
      transform: scale(0);
    }

    &::before {
      top: 9px;

      transform: rotate(45deg);
    }

    &::after {
      bottom: 9px;

      transform: rotate(-45deg);
    }
  }

  .headerMenu {
    position: fixed;
    top: -100%;
    left: 0;

    overflow: auto;

    width: 100%;
    height: 100%;
    padding: 4rem 0 0 2rem;

    transition: all 0.3s ease 0s;

    background-color: var(--white-color);
  }

  .headerMenuActive {
    top: 0;
  }

  .headerList {
    display: block;
  }
}
