.container {
  max-width: 98%;
  margin: 0 auto;
  padding: 0 5px;
}

.header {
  position: fixed;
  z-index: var(--z-index-header);
  top: 0;
  left: 0;

  width: 100%;
  height: var(--header-height);

  box-shadow: 0 4px 6px rgba(83, 204, 34, 0.04);

  border-bottom: 3px solid var(--primary-color);

  &::before {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: "";

    background-color: var(--white-color);
  }
}

.headerBody {
  position: relative;
  z-index: var(--z-index-header-body);

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--header-height);

  li {
    display: inline;

    margin: 0 0 0 1rem;

    list-style-type: none;
  }

  h3 {
    z-index: 5;

    margin: 0;

    color: white;
  }
}


.links{
  margin-left: auto;
}

.link{
    display: inline;
    margin-left: 1rem;
    padding: 0.65rem;

    &:hover{
      background-color: rgb(250, 250, 250);
      border-radius: var(--border-radius);
    }
}

.logo {
  z-index: 500;

  align-self: center;

  text-decoration: none;
  // letter-spacing: var(--space-xxxxs);
  text-transform: uppercase;

  color: var(--text-color);

  // font-size: var(--text-lg);
  font-weight: bold;

  &:hover {
    color: var(--primary-color);
  }
}
