@import 'assets/screen-sizes';


.wrapper {
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
	gap: 1.6rem;
	overflow: hidden;
}

.card {
	
  border-radius: var(--border-radius);

  min-width: 220px;
	min-height: 220px;

	max-width: 95vw;
	max-height: 95vw;

	&Title{
		margin-bottom: 0.3rem;
	}

	&Container{
		padding: 1rem;
		border-bottom: var(--border);
		border-left: var(--border);
		border-right: var(--border);
		border-radius: var(--border-radius);
	}

	&Tag{
	
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		margin-left: .75rem;
	}

	&Button{
		display: block;
		width: 100%;
		margin-top: .75rem;
	}
}




.img{
  border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}



@media (max-width: $_md) {
  .wrapper {
    flex-direction: column;
  }
}