.questionCard {
	display: grid;
	grid-template-areas:
		"question"
		"codeExample";
	grid-template-columns: 400px;
	grid-template-rows: auto auto;
	gap: 1rem;
}

.wrapper {
	position: relative;
}

.changeQuestionButton {
	position: absolute;
	z-index: 12;
	right: 0.1rem;
	bottom: 0.1rem;
}

.question {
	grid-area: question;
}

.title {
	margin: 0;

	font-size: 34px;
}

.subTitle {
	margin: 0;

	color: var(--text-secondary-color);

	font-size: 14px;
}

.codeExample {
	grid-area: codeExample;
}

// .descriptionText {
// 	margin: 0;

// 	font-size: 22px;
// }

// .destinationCount {
// 	grid-area: destinationCount;
// }

// .count {
// 	grid-area: count;
// }

// .buttons {
// 	grid-area: buttons;
// }

// .buttons:last-child {
// 	margin-right: 0;
// }

.button {
	width: 60px;

	margin-right: 1rem;
	padding: 14px;

	font-size: 28px;
	line-height: 32px;
}

// .lastButton {
// 	margin-right: 0;
// }

.divider {
	margin: 10px 0;
}
