.questionCard {
  display: grid;
  grid-template-areas:
    "question"
    "codeExample";
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  padding: 0.5rem;
}

.wrapper {
  position: relative;
}

.changeQuestionButton {
  position: absolute;
  z-index: 12;
  right: 0.1rem;
  bottom: 0.1rem;
}

.question {
  grid-area: question;
}

// .title {
//   margin: 0;
//   font-size: 24px;
// }

.codeExample {
  grid-area: codeExample;
}

.button {
  width: 80px;

  margin-right: 1rem;
  padding: 14px;

  font-size: 28px;
  line-height: 32px;
}

.divider {
  margin: 0.85rem 0;
//   padding: 0 -0.75rem;
}
