@import'assets/mixins.scss';

.questionCard {
  display: grid;
  grid-template-areas:
    "question"
    "codeExample"
    "buttons"
    "answer";
  grid-template-columns:minmax(250px, 450px);
  grid-template-rows: auto auto 40px auto;
  padding: 0.5rem;

}

.wrapper {
  position: relative;
  max-width: 400px;
}


.question {
  grid-area: question;
}

.codeExample {
  grid-area: codeExample;
}

.buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.answer {
  grid-area: answer;

  height: auto;

  &InVisible{
    visibility: hidden;
    height: 0;
  }

}

.answerStatusText {
  width: 100%;
  margin-left: 0.5rem;
}

.iconButton {
  @include iconWithBorder;
}

.editButtons {
  
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
}

.arrowIcon {
  height: 100%;
  width: auto;
}


.divider {
  margin: 1.1rem -1.3rem !important;
}
