@import 'assets/variables';
@import 'assets/colors';

.tag {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  border-radius: $border-radius;
}

.sm {
  padding: 8px 10px;
  font-size: 12px;
  line-height: 12px;
}

.md {
  padding: 10px 12px;
  font-size: 14px;
  line-height: 14px;
}

.lg {
  padding: 14px 10px;
  font-size: 16px;
  line-height: 18px;
}

.ghost {
  border: $border;
}

.fullWidth {
  width: 100%;
}

.success {
  color: $white;
  background: $success;
  font-weight: bold;
}

.danger {
  color: $white;
  background: $danger;
  font-weight: bold;
}

.info {
  background-color: $info;
  color: #807a25;
  font-weight: bold;
}

.primary {
  color: $white;
  background: $primary;
}
