.button {
	display: inline-block;

	box-sizing: border-box;
	padding: 10px;

	cursor: pointer;
	transition: all 0.2s;
	text-align: center;

	border: none;
	border-radius: var(--border-radius);

	font-size: 17px;
}

.primary {
	color: var(--white-color);
	background-color: var(--primary-color);

	&:hover {
		background-color: var(--primary-dark-color);
	}
}


.ghost {
	color: var(--text-color);
	border: var(--border);
	background-color: var(--white-color);

	&:hover {
		background-color: rgb(249, 251, 255);
	}
}


.disabled {
	cursor: not-allowed !important;

	color: var(--dark-gray-color);
	background-color: var(--background-color);
}
