.editMedicalItem {
	display: grid;
	// grid-template-areas:
	// 	"question question"
	// 	"codeExample codeExample"
	// 	"answersList answersList"
	// 	"savedButton resetdButton";
	// grid-template-columns: 400px 210px;
	// grid-template-rows: 80px 200px 150px 40px;

	grid-template-areas:
		"question question question"
		"codeExample codeExample answersList"
		"saveButton resetButton addAnswerButton";
	grid-template-columns: 300px 100px 280px;
	grid-template-rows: auto 310px 50px;

	gap: 1rem;

}

.title {
	margin-bottom: 0.45rem;
	font-size: 18px;
}

.subTitle {
	margin: 0;
	margin-bottom: 0.5rem;

	color: var(--text-secondary-color);

	font-size: 14px;
}

.question {
	grid-area: question;
}

.codeExample {
	grid-area: codeExample;
	
}


.textareaCodeExample{
	min-height: 100px;
}



.answersList {
	grid-area: answersList;
	overflow: auto;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.answer{
	display: flex;
	margin: 0;
	gap: 1rem;
	align-items: flex-end;
}

.buttons {
	grid-area: buttons;
}

.button {
	width: 60px;

	margin-right: 1rem;
	padding: 14px;

	font-size: 28px;
	line-height: 32px;
}

.addAnswerButton {
	grid-area: addAnswerButton;
}

.saveButton {
	grid-area: saveButton;
}

.resetButton {
	grid-area: resetButton;
}

.form{
	font-weight: 600;
}