.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 100px;
}

.card {
  margin-bottom: 2rem;
  padding: 1.3rem;
}


$width: 60%;

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: $width;
}

.questionNumbers {
  user-select: none;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-radius: 6px;
  border: 3px solid #eee;
  width: $width;
  font-size: 1.4em;

  span {
    font-weight: 600;
    padding: 0 0.3rem;
  }
}

.currentItem {
  color: #fff;
  border-radius: 20%;
  background-color: tomato;
  width: 1.8rem;
  text-align: center;
}

.nextItem {
  color: rgb(167, 164, 164);
}

.questionTitle {
  margin: 0 0 15px 0;
}

.content {
  z-index: 1;
  margin-top: 10px;
  padding: 20px;
  border-radius: 6px;
  width: $width;
  background-color: #fff;

 
  /* box-shadow: 0 1px 6px 0 #0001, 0 1.2px 10px 0 #0001; */
}

.checkField {
  display: flex;
  user-select: none;
  width: 100%;
  margin: 0.4rem 0;
  height: 20px;
  border-radius: 0.4rem;
  align-items: baseline;
  cursor: pointer;
}

.answersList {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.answerResultStatusCorrect {
  background-color: rgb(9, 161, 128);
  color: rgb(255, 255, 255);
  padding: 0.2rem 0.5rem;
  height: 60%;
}

.answerResultStatusInCorrect {
  background-color: tomato;
  color: rgb(255, 255, 255);
  padding: 0.2rem 0.5rem;
  border-radius: var(--border-radius);
  height: 60%;
}

.hrHorizontalGradient {
  padding: 0;
  height: 12px;
  border: none;
  background: linear-gradient(15deg, rgb(38, 160, 89), rgb(45, 192, 172));
}

.hrGray {
  padding: 0;
  height: 2px;
  border: none;
  background: #eee;
  // border: var(--border)
}
