.formControl {
  margin-bottom: 0.4rem;
  font-family: system-ui, sans-serif;
  font-size: 1.6rem;
  line-height: 1.05;
  display: grid;
  grid-template-columns: 1.75rem auto;
  gap: 1rem;
  cursor: pointer;
  width: max-content;

  input {
    cursor: pointer;
  }

  input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--white-color);
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 2rem;
    height: 2rem;
    border: var(--border);
    border-radius: var(--border-radius);
    transform: translateY(-0.075rem);

    display: grid;
    place-content: center;

    &::before {
      content: "";
      width: 1.2rem;
      height: 1.2rem;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      transform: scale(0);
      transform-origin: bottom left;
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1rem 1rem var(--success-color);
      /* Windows High Contrast Mode */
      background-color: CanvasText;
    }

    &:checked::before {
      transform: scale(1);
    }
    &:focus {
      outline: 0.125rem solid var(--gray-light-color);
      //   outline-offset: max(2px, 0.15em);
    }

    &:disabled {
      color: var(--gray-color);
      cursor: not-allowed;

      &::before {
        box-shadow: inset 1rem 1rem var(--gray-color);
      }
    }
  }
}
