@import'assets/mixins.scss';
@import'assets/variables';

.descriptionCard {
  display: grid;
  grid-template-areas:
    "description"
    "snippet"
    "buttons";
  grid-template-columns: minmax(250px, 570px);
  grid-template-rows: auto auto 40px;
  padding: $spacer * 0.5;
}

.wrapper {
  position: relative;
  max-width: 600px;
}

.description {
  grid-area: description;
}

.snippet {
  grid-area: snippet;
}

.buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.answer {
  grid-area: answer;

  height: auto;

  &InVisible {
    visibility: hidden;
    height: 0;
  }

}

.answerStatusText {
  width: 100%;
  margin-left: $spacer * 0.5;
}

.iconButton {
  @include iconWithBorder;
}

.editButtons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: $spacer;
}

.chevronIcon {
  height: 100%;
  width: $spacer * 3 !important;
}