.container {
  padding: 40px 5%;
}

/* Responsive image gallery rules begin*/

.imageGallery {
  /* Mobile first */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imageItem {
  img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (min-width: 768px) {
  .imageGallery {
    flex-direction: row;
  }
}

/* overlay styles */

.imageItem {
  position: relative;
  cursor: pointer;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  /* center overlay content */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hover */
.image-item:hover .overlay {
  transform: scale(1);
}
