@import 'assets/variables';
@import 'assets/colors';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.buttons {
  margin-top: $spacer;
}

.questionNumbers {
  user-select: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.2rem;
  width: 100%;
  padding: $spacer * 0.45;

  span {
    font-weight: 600;
    padding: $spacer * 0.15 $spacer * 0.55;
  }
}

.currentItem {
  color: $white;
  border-radius: $border-radius;
  background-color: $danger;
  width: max-content;
  text-align: center;
}

.nextItem {
  color: rgb(167 164 164);
}

.content {
  z-index: 1;
  padding: $spacer * 1.5;
  border-radius: $border-radius;
  background-color: $white;
  border: $border;
  max-width: 100%;
}

.checkField {
  display: flex;
  user-select: none;
  width: 100%;
  margin: $spacer * 0.4 0;
  height: $spacer * 2;
  border-radius: $border-radius;
  align-items: baseline;
  cursor: pointer;
}
