@import 'colors';


$themes: (
  "dark": (
    appBackground: $black,
    subtleBackground: $gray-900,
    borderColor: $gray-700,
    lowContrastText: $gray-200,
    highContrastText: $gray-100,
    header: $gray-900,
  ),
  "light": (
    appBackground: $gray-100,
    subtleBackground: $white,
    borderColor: $gray-300,
    lowContrastText: $gray-800,
    highContrastText: $gray-900,
    header: $white,
  ),
);

@mixin themed() {
    @each $theme, $map in $themes {
      :global(.theme--#{$theme}) & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), "#{$key}");
          $theme-map: map-merge(
            $theme-map,
            (
              $key: $value,
            )
          ) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }
  
  @function t($key: "background") {
    @return map-get($theme-map, $key);
  }