@import 'variables';
@import 'colors';
@import 'custom-bootstrap.scss';

html,
body {
  padding: 0;
  color: $dark;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

input,
textarea,
button,
.btn {
  &:focus,
  &:hover,
  &:focus {
    outline: 0 !important;
    appearance: none;
    box-shadow: none !important;
  }
}

main {
  margin: 0 auto;
  max-width: 100vw;
}

body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
}
