@import 'variables';
@import 'colors';
@import "custom-bootstrap.scss";


html,
body {
	padding: 0;
	color: var(--text-color);
	margin: 0;
	height: 100%;
	overflow-x: hidden;
}

a {
	color: inherit !important;
	text-decoration: none !important;
}

* {
	box-sizing: border-box;
}

input,
textarea,
button,
.btn {

	&:focus,
	&:hover,
	&:focus {
		outline: 0px !important;
		-webkit-appearance: none;
		box-shadow: none !important;
	}
}

main {
	margin: 0 auto;
	max-width: 100vw;
}

body {


	// 	h1 {
	// 		@include h1;
	// 	}

	// 	h2 {
	// 		@include h2;
	// 	}

	// 	h3 {
	// 		@include h3;
	// 	}

	// 	h4 {
	// 		@include h4;
	// 	}

	// 	h5 {
	// 		@include h5;
	// 	}

	// 	h6 {
	// 		@include h6;
	// 	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0;
	}
}



.hrdivider {
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;

	&>span {
		position: relative;
		display: inline-block;

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			width: 9999px;
			height: 1px;
			background: rgb(191, 191, 191);
		}
	}


	&>span:before {
		right: 100%;
		margin-right: 15px;
	}

	&>span:after {
		left: 100%;
		margin-left: 15px;
	}
}

span.input-group-text {
	background-color: white !important;
	font-weight: 600;
}

.form-check-input {
	border-width: 2px !important;
	border-color: var(--border-color);
}