@mixin iconWithBorder {
  height: 100%;
  width:auto;
  color: var(--text-secondary-color);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 0.44rem;
  vertical-align: bottom;

  &:hover{
    color: var(--text-color);
  }

}