.hrWithSpan {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;


  &>span {

    position: relative;
    display: inline-block;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 9999px;
      height: 2px;
      background: rgb(235, 235, 235);
    }
  }


  &>span:before {
    right: 100%;
    margin-right: 15px;
  }

  &>span:after {
    left: 100%;
    margin-left: 15px;
  }
}