.pre {
  text-align: left;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif !important;
  overflow: scroll;


  font-size: 1.3rem;

  margin: 0;

  overflow: none;
  padding: 1.25rem;
  border-radius: var(--border-radius);
  line-height: 1.8rem;
  letter-spacing: 1px;


  width: 100%;
  overflow-x: auto;
  // & .token-line {
  //   line-height: 1.5em;
  //   height: 1.5em;
  // }
}

.line {
  display: table-row;
}

.noLine {
  display: table-cell;
  text-align: right;
  padding-right: 1rem;
  user-select: none;
  opacity: 0.5;
}

.lineContent {
  display: table-cell;
}
