@import'assets/mixins.scss';
@import'assets/variables';

.questionCard {
  display: grid;
  grid-template-areas:
    "question"
    "codeExample"
    "buttons"
    "answer";
  grid-template-columns: minmax(250px, 470px);
  grid-template-rows: auto auto 40px auto;
  padding: $spacer * 0.5;

}

.wrapper {
  position: relative;
  max-width: 460px;
}


.question {
  grid-area: question;
}

.codeExample {
  grid-area: codeExample;
}

.buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.answer {
  grid-area: answer;

  height: auto;

  &InVisible {
    visibility: hidden;
    height: 0;
  }

}

.answerStatusText {
  width: 100%;
  margin-left: $spacer * 0.5;
}

.iconButton {
  @include iconWithBorder;
}

.editButtons {

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: $spacer;
}

.chevronIcon {
  height: 100%;
  width: $spacer * 3  !important;
}